<!DOCTYPE html>
<html lang="en">
  {% include head-custom.html %}
  <body>
    <div class="wrapper">
      <div class="profile">
        <h1 class="title">Hello, I'm {{ site.name }}.</h1>
        <div class="desc">
          {% for desc in site.description %}
          <p>{{ desc }}</p>
          {% endfor %} {% if site.linkedin_url %}

          <a href="{{ site.linkedin_url }}"
            ><img src="/assets/icons/linkedin.png" alt="Linkedin Icon" width="32"
          /></a>
          {% endif %} {% if site.github_url %}
          <a href="{{ site.github_url }}"
            ><img src="/assets/icons/github.png" alt="Github Icon" width="32"
          /></a>
          {% endif %}
        </div>
      </div>

      <div class="posts">
        <div class="header">
          <span class="title">Posts</span>
          <span class="count">{{ site.posts.size }}</span>
        </div>

        {% for post in site.posts %}
        <div class="post">
          <a href="{{ post.url }}">{{ post.title }}</a>
          <p>
            Published on
            <span class="underline">{{ post.date | date: "%b %-d, %Y"}}</span>
          </p>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="footer">Made with &hearts; by @abdullahnz</div>
  </body>
</html>
